Repository vechain/thor-devkit.py: changes, and which pre-commit hooks are due for each by the changed paths.
All: doctest, mypy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-merge-conflict
    -   id: check-toml
    -   id: check-yaml
-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.3
    hooks:
      - id: isort
        name: isort
        args: ["--profile", "black"]
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
-   repo: https://github.com/csachs/pyproject-flake8
    rev: v0.0.1a4
    hooks:
      - id: pyproject-flake8
        name: flake8
        additional_dependencies: [
          'flake8-docstrings',
          'flake8-rst-docstrings',
          'flake8-2020',
          'flake8-alfred',
          'flake8-broken-line',
          'flake8-bugbear',
          'flake8-builtins',
          'flake8-debugger',
          'flake8-noqa',
          'flake8-pep3101',
          'flake8-pie',
          'flake8-pytest',
          'flake8-pytest-style',
          'flake8-simplify',
          'pep8-naming',
        ]
-   repo: local
    hooks:
      # We could use mypy-mirror, but it has some unconvenient limitations.
      - id: doctest
        name: doctest
        entry: python -m doctest
        language: system
        files: "README.md"
      - id: mypy
        name: mypy
        entry: mypy --config=pyproject.toml --cache-dir=/dev/null --no-incremental
        language: system
        types: [ python ]
        exclude: "docs/*"
      - id: pytest
        name: pytest
        entry: pytest -vv -s
        language: system
        types: [ python ]
        pass_filenames: false
        exclude: "setup.py"
        always_run: true

ignore rc file if added
  .gitignore
Due: none

chore: update code owners
  .github/CODEOWNERS
Due: none

fix tx prefix
  Makefile
  tests/test_transaction.py
  tests/test_transaction_encoding.py
  tests/test_transaction_testnet.py
  thor_devkit/transaction.py
Due: mypy

chore: update install in readme
  README.md
Due: doctest

fix: gha
  .github/workflows/pr.yml
Due: none

chore: fix tests
  README.md
  requirements.txt
  tests/test_transaction_testnet.py
Due: doctest, mypy

chore: bump version
  setup.py
Due: mypy

include type identifier for computing signing hash for typed txs
  thor_devkit/transaction.py
Due: mypy

fix test
  tests/test_transaction_encoding.py
Due: mypy
